/* FULL SCREEN CENTER POSITION */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;     /* Center horizontally */
    align-items: center;         /* Center vertically */
    background:#0a0a0a;          /* Dark Background */
    font-family: "Poppins", sans-serif;
    color: #fff;
}

/* Main card container */
.container {
    width: 90%;
    max-width: 450px;
    background: rgba(255,255,255,0.08);
    padding: 35px;
    border-radius: 15px;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 20px rgba(255,255,255,0.2);
    text-align: center;
    animation: fadeIn 0.8s ease-in-out;
}

/* Title */
.title{
    font-size: 30px;
    font-weight: bold;
    color: gold;
    text-shadow: 0 0 10px red, 0 0 15px gold;
}

/* Small subtitle */
.subtitle{
    opacity: 0.8;
    margin-bottom: 15px;
    
}

/* Input fields */
.name-input {
    width: 100%;
    padding: 12px;
    font-size: 17px;
    border-radius: 8px;
    border: none;
    margin-bottom: 18px;
    outline: none;
}

/* Button design */
.select-btn {
    width: 100%;
    padding: 13px;
    font-size: 18px;
    background: gold;
    color:black;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 15px gold;
    transition: 0.3s;
    margin-top: 20px;
}

.select-btn:hover{
    transform: scale(1.07);
    background: white;
}

/* Smooth animation */
@keyframes fadeIn{
    from {opacity:0; transform:translateY(20px);}
    to   {opacity:1; transform:translateY(0);}
}

/* Make card options stacked vertically */
.card-options {
    display: flex;
    flex-direction: column;   /* stack items */
    gap: 15px;                /* space between each card */
    margin-top: 20px;         /* optional spacing from input */
}

.card-item {
    display: flex;
    align-items: center;      /* vertically center text and radio */
    padding: 12px;
    border: 2px solid gold;
    border-radius: 12px;
    cursor: pointer;
    font-size: 17px;
    transition: 0.3s;
}

.card-item:hover {
    background: gold;
    color: black;
    transform: scale(1.05);
}

/* Make radio button separate from text */
.card-item input {
    margin-right: 10px;
}

#muteBtn{
    background: gold;
    color: black;
    border: none;
    padding: 10px 18px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0 10px gold;
    transition: 0.3s;
}

#muteBtn{
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 9999;
}


#muteBtn:hover{
    transform: scale(1.1);
    background: white;
}


