<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Christmas Card</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
</head>

<body>

<!-- Falling Animation Container -->
<div class="fall-container"></div>

<!-- Main Card Message -->
<div class="card-message">
   <h1 class="glow">🎄 Merry Christmas {{name}} 🎄</h1>
   <p class="note">
      Wishing you joy, peace, and warm moments this festive season.  
      May your days be filled with love, laughter and blessings.  
   </p>
   <p class="from">With Love, <b>Isaac</b> ❤️</p>
</div>

<!-- Bottom Trees (Decoration) -->
<div class="trees">
    <img src="/static/images/tree1.png">
    <img src="/static/images/tree2.png">
    <img src="/static/images/tree3.png">
</div>

<script src="{{ url_for('static', filename='js/card.js') }}"></script>
</body>
</html>
